.NotFound {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

.NotFound .heading {
    color: #999;
    text-shadow: 0 1px #fff;
}

.NotFound .text {
    color: #aaa;
    text-shadow: 0 1px #fff;
}

a {
    text-decoration: none;
} 
